<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP 404 ERROR</title>
    <style>
        body{
            height: 100vh;
            background-color: #5a5a63 !important;
            font-family: sans-serif !important;
        }
        h2{
            text-align: center;
            margin-top: 40vh;
            color: #eee !important;
        }

        p{
            text-align: center;
        }

        a{
            color: #eee !important;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <h2>Error: {{ message }}</h2>
            <p><a href="{% url redirect %}">go back</a></p>
        </div>
    </div>
</body>
</html>