<div style="width:60%; margin-left:25%;">
    <h4 style="margin-top: 20px !important; color: #05d270 !important;" *ngIf=" this.dataService.user.current_project != '' ">Project name: {{ this.dataService.user.current_project }}</h4><br>
    <p class="role">role: {{ this.dataService.user_role}}</p>
    <h5>My Tasks</h5>
    <a class="nav-btns" routerLink="/all-tasks">All tasks</a>
    <a class="nav-btns" routerLink="/scrumboard">My tasks</a>
    <a class="nav-btns" routerLink="/add-goal">create new goal</a>
    <a *ngIf="this.user_role < 1" class="nav-btns" routerLink="/change-role">change role</a>
</div>
<div>
  <table (click)="onTableClick($event)">
    <div *ngIf="dataService.user_array != null">
      <thead>
          <th id="author">User</th>
          <ng-container *ngFor="let status of dataService.statusList; let i = index; let c = count;">
            <th [id]="i + 1">{{ status.status_name }}</th>
          </ng-container>
      <th id="remove">remove</th>
      </thead>


        <tr class="container">
            <td>{{ dataService.user_for_selected_project.username }}</td>
            <ng-container *ngFor="let status of dataService.statusList; let i = index; let c = count;">
              <td dragula="GOAL" [id]="i+1" [className]="dataService.user_for_selected_project.username == dataService.project_owner? 'Owner':'User'">
                <ng-container  *ngFor="let goal of dataService.user_for_selected_project.goals; let ii = index; let c = count;">
                  <div class="task-div" *ngIf="goal.goal_status == i+1 && goal.is_deleted == false" (mousedown)="setGoalIDToMove(goal)">
                    <div class="goal-content">
                      <b>{{ goal.goal_id }}. </b> <span class="goal-text">{{ goal.goal_name }}</span> <br>
                      <!--<a class="move-links" routerLink="/change-owner/{{goal.id}}">change owner</a>-->
                    </div>
                  </div>
                </ng-container>
              </td>
            </ng-container>
            <td dragula="GOAL" id="remove">
              <ng-container *ngFor="let goal of dataService.user_for_selected_project.goals">
                <div class="task-div deleted-task" *ngIf="goal.is_deleted == true">
                  <div class="goal-content">
                      <b>{{ goal.goal_id }}.</b> {{ goal.goal_name }} <br>
                      <!--<a class="move-links" (click)="dataService.deleteGoal(goal.id, goal.goal_id)">delete goal</a>
                      <br><br><br>-->
                    </div>
                </div>
              </ng-container>
            </td>
        </tr>

    </div>
  </table>
  <p id="experiment"></p>
</div>



